body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


header {
    max-width: 1440px;
    position: fixed;
    top: 0;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}


.Link {
text-align: right;
    & 
    a{
color: white;

text-decoration: none;
padding: 20px;
} 
    &
    a:hover {
        background-color: white;  
        color: black;  
    }
}


.Acceuil {
    background: #fafafa;
    padding: 200px 50px 250px 50px;
    display: flex;
    align-items: center;
    color: black;
        
    &
    h1 {
        margin-left: 10%; 
        font-size: 48px;
    }
    & .texte-déroulant{
        margin-left: 10%; 
        margin-right: 5%;
        font-size: 48px;
    }
    &
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-left : auto;
        margin-right: 5%;
    }
}

.Présentation {
    background-color: rgb(85, 85, 85);
    text-align: center;
    padding: 10px 0px 250px 0px;
    &
    h2{
        width: 100%;
        font-size: 36px;
        color: rgb(255, 255, 255);
        padding: 50px 0px 50px 0px;
        font-style: oblique 40deg;
    }
    p{
        font-size: 24px;
        margin-left: 20%;
        margin-right: 20%;
        color: #fafafa;
    }
}



.Portfolio {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0px 250px 0px;

     &
     h2{
        font-size: 36px;
        font-style: oblique 40deg;
        padding: 50px 0px 50px 0px;
     }

     &
     .cardProjet{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        //padding: 0px 250px 0px 250px; 
        margin-left: 13%;
        
     }

     &       
     .cardindividuel {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,7,89,1) 78%);
        height: 400px;
        width: 60%;
        border-radius: 25px;
        margin-left: 11.33%;
        margin-bottom: 50px;
        
        & img{
            height: 85%;
            width: 100%;
            border-radius: 25px 25px 0px 0px;
        }

        & 
        p{
            font-style: italic;
            text-decoration: none;
            color: white;
        }
     }
}

.pageprojet {
    margin-top: -20px;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(250,250,250,1) 100%);
    text-align: center;
    align-items: center;
    position: relative;
    &
    .flecheretour {
        position: absolute;
        left: 50px;
        top:50px;
        height: 30px;
        padding: 5px 12px 6px 10px;
        border:1px solid white ;
    }
    
    &
    h1{
        color: white;
        padding-top: 60px;
        margin-bottom: 60px;
    }

    &
    p{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &
    .btntype{

        display: flex;
    &
        .type{
            color: #f5f5f5;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,7,89,1) 78%);
            border-radius: 20px;
            padding: 10px 20px 10px 20px;
            margin-left: 15px;
            margin-right: 15px;
        }
}   
}





.Carrousel {
    width: 55%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    &
    img{
        width: 100%;
        height: 600px;
    }

}    

.flechegauche img,
.flechedroite img{
    z-index: 1;
  }

.flechedroite img {
    position: absolute;
    transform: translateY(-50%);
    top: 45%; 
    right: 30px;
    width: 50px; 
    height: 80px;
}

.flechegauche img {
    position: absolute;
    transform: translateY(-50%);
    top: 45%;
    left: 30px;
    width: 50px; 
    height: 80px;
}